@import "tailwindcss";

:root {
  font-family: "IBM Plex Sans", "Segoe UI", sans-serif;
  color: #18181b;
  background-color: #f7f8fa;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
